:root {
  background-color: #000;
  --color-text: #fff;
}


.App {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

text {
  color: var(--color-text);
}

.Banner {
  flex: 5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 100;
  width: 100%;
  padding: 5%;
}

.Logo {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.Logo--react {
  width: 100px;
  height: 100px;
  animation: Logo--spin infinite 20s linear;
}

.Logo--lynx {
  width: 100px;
  height: 100px;
  animation: Logo--shake infinite 0.5s ease;
}

@keyframes Logo--spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes Logo--shake {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}



.Arrow {
  width: 24px;
  height: 24px;
}

.Title {
  font-size: 20px;
  font-weight: 700;
  width: 100%;
  text-align: left;
}

.Subtitle {
  font-style: italic;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 8px;
}

.Description {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.85);
  margin: 15rpx;
}

.Hint {
  font-size: 12px;
  margin: 5px;
  color: rgba(255, 255, 255, 0.65);
}
.SyntaxContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30vh;
  padding: 10px;
}
.Syntax {
  font-family: 'Courier New', Courier, monospace;
  font-size: 5vh;
  margin-top: 10px;
  width: 100%;
  text-align: right;
}
.Result{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 5vh;
  padding: 10px;
}
.ResultText {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2vh;
  margin-top: 10px;
  width: 100%;
  text-align: right;
}
.NumPadGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  max-width: 400px;
  height: 65vh;
  margin-top: 20px;
}
.Content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
}
.ButtonGrid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}